
#fondo{
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    margin:0 auto;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    grid-gap:2%;
    font-family: Arial, Helvetica, sans-serif;
}
#participant{
    font-size: large;
    background-color: gray;
    color: #000;
}
h3{
    margin-left: 3%;
    margin-top: middle ;
}

#masVentas{

    display: grid;
    margin-bottom: 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "area1 area2"
}

#mesMasVentas{
    margin-left: 2%;
    font-size: x-large;
    background-color: gray;
    max-width: 100%;
    color: #000;
    float: right;
    border-radius: 25px;
    text-align: center;
    grid-area: area2;
}

#empresaMasVentas{
    border-radius: 25px;
    margin-left: 2%;
    font-size: x-large;
    background-color: gray;
    max-width: 100%;
    color: #000;
    float: left;
    text-align: center;
    grid-area: area1;
}

#empresas{
    margin-left: 2%;
    top:0px;
    max-width: 100%;
    text-align: justify;
}
#info{
    border: 1px black solid;
    top:0px;
    max-width: 100%;
    width:100%;
    border-collapse: collapse;
}
th{
    border: 1px black solid;
   padding-left: 2%;
   height: 40px;
   font-size: larger;
}
td{
    background-color: white;
    border: 1px black solid;
    padding-left: 2%;
    height: 40px;
    color:dimgray;
}

thead{
    width: 100%;
    background-color: lightgrey;
    border: 1px black solid;
}

